@tailwind base;
@tailwind components;
@tailwind utilities;

/* these are the light and dark mode variables for color */
/* to see and edit them in the vscode editor install color info extension and put hsl around one*/
@layer base {
	:root {
		--background: hsl(0, 0%, 100%);
		--foreground: hsl(240, 10%, 3.9%);

		--muted: hsl(240, 4.8%, 95.9%);
		--muted-foreground: hsl(240, 3.8%, 46.1%);

		--popover: hsl(0, 0%, 100%);
		--popover-foreground: hsl(240, 10%, 3.9%);

		--card: hsl(0, 0%, 95%);
		--card-foreground: hsl(240, 10%, 4%);

		--border: hsl(240, 5.9%, 90%);
		--input: hsl(240, 5.9%, 90%);

		--primary: hsl(120, 5.7%, 10.4%);
		--primary-foreground: hsl(0, 0%, 98%);

		--secondary: hsl(150, 6%, 75%);
		--secondary-foreground: hsl(100, 6%, 9%);

		--accent: hsl(33, 53%, 74%);
		--accent-foreground: hsl(240, 5.9%, 10%);

		--destructive: hsl(0, 84.2%, 60.2%);
		--destructive-foreground: hsl(0, 0%, 98%);

		--ring: 240 5% 64.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: hsl(240, 10%, 3.9%);
		--foreground: hsl(0, 0%, 98%);

		--muted: hsl(240, 3.7%, 15.9%);
		--muted-foreground: hsl(240, 5%, 64.9%);

		--popover: hsl(240, 10%, 3.9%);
		--popover-foreground: hsl(0, 0%, 98%);

		--card: hsl(240, 10%, 3.9%);
		--card-foreground: hsl(0, 0%, 98%);

		--border: hsl(240, 3.7%, 15.9%);
		--input: hsl(240, 3.7%, 15.9%);

		--primary: hsl(0, 0%, 98%);
		--primary-foreground: hsl(240, 5.9%, 10%);

		--secondary: hsl(240, 3.7%, 15.9%);
		--secondary-foreground: hsl(0, 0%, 98%);

		--accent: hsl(240, 3.7%, 15.9%);
		--accent-foreground: hsl(0, 0%, 98%);

		--destructive: hsl(0, 62.8%, 30.6%);
		--destructive-foreground: hsl(0, 85.7%, 97.3%);

		--ring: hsl(240, 3.7%, 15.9%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
